<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="hdcz.com.app.greenland1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="icon,theme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HandConfiguration">
            <intent-filter>
                <action android:name="android.intent.action.HANDCONFIGURATION" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ScanConfiguration">
            <intent-filter>
                <action android:name="SCANCONFIGURATION" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".InformationActivity">
            <intent-filter>
                <action android:name="android.intent.action.INFORMATIONACTIVITY" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".PdInformationActivity">
            <intent-filter>
                <action android:name="PDINFORMATIONACTIVITY" />

                <category android:name="PDINFORMATIONACTIVITY" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".AssetPandActivity">
            <intent-filter>
                <action android:name="android.intent.action.ASSETPANDACTIVITY" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AssetPandInformationActivity">
            <intent-filter>
                <action android:name="android.intent.action.AssetPandInformationActivity" />

                <category android:name="android.intent.category.AssetPandInformationActivity" />
            </intent-filter>
        </activity>
        <activity android:name=".HistoryAssetInfoActivity">
            <intent-filter>
                <action android:name="android.intent.action.HistoryAssetInfoActivity"/>
                <category android:name="android.intent.category.HistoryAssetInfoActivity"/>
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
</manifest>